.footer {
    background-color: #C01722;
    color: white;
    margin-top: 50px;
    padding: 1px;
    text-align: center;
    font-weight: 800;
    font-size: large;
    font-family: "Britannic Bold";
}