.secondtitle {
    background-color: #A50D13;
    color: white;
    margin-top: 10px;
    text-align: start;
    font-weight: 800;
    padding: 1px;
    font-size: x-large;
    font-family: "Britannic Bold";
}