select {
    appearance: none;
    border: none;
    border-radius: 15px;
    padding: 5px;

    outline: none;
    width: 100%;
    border-bottom: 0.5px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;

}

select:focus {
    border: none;
    border-bottom: solid rgb(238, 8, 8) 0.5px;
}