.sidebar {
    background-color: #C01722;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    font-family: "Britannic Bold";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    height: 100vh;
    margin-left: -1rem;
    position: absolute;

}

.linksidebar {
    text-decoration: none;
    color: white;

}

.linksidebar:hover {
    color: white;

}

.box:hover {
    background-color: #A50D13;
    color: white;

}